<br>
<h3 style="text-align: center;">Choose Export Format</h3>
<br>
<div class="row">
    <div class="col-12">
        <div style="text-align: center; margin-top:50px ;">
            <div class="col-3" style="display: inline-block; cursor: pointer; margin-left: 10px;">
                <a class="btn btn-dark" (click)="exportProductsPdf()">pdf</a>
            </div>
            <div class="col-3" style="display: inline-block; cursor: pointer; margin-left: 10px;">
                <a class="btn btn-dark" (click)="exportProductsExcel()">excel</a>
            </div>
        </div>
    </div>
</div>
