<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/CreateCategories">Create Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/CreateProducts">CreateProducts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/getProducts">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/getCategories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/export">Export as</a>
      </li>
    </ul>
  </nav>
